#searchBtn{
    font-size: 2vw;
    color: white;
    border: none;
    border-radius: 20px;
    background-color:peru;
    margin-top: 20px;
    padding: 5px 15px;
    box-shadow: 5px 5px 5px gray;
}

#searchBtn:hover {
    transform: scale(1.2);
    transition: all 0.25s ease-in;
}