#map {
    height: 45vh;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    }

/* .container{
    background-color: #eadf69;
} */

.container-middle{
    display: flex;
    border-radius: 12px;
    margin-top: 10px;
    background-color:rgb(240, 234, 225);
}

.hero{
    background-color: rgb(233, 168, 84);
    color: white;
}

section.hero{
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.button{
    border-radius: 12px;
    background-color: rgb(233, 151, 44);
    color: white;
}

.button:hover{
    background-color: rgb(233, 151, 44);
    color:white;
}

.title{
    color: white;
}

.subtitle{
    color: white;
}

.hero {
    border-radius: 12px;
    margin-top: 10px;
}

.search_bar{
    padding-top: 60px;
    padding-left: 20px;
    width: 250px;
}

#location{
    width:160px;
    border-radius: 6px;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc; 
}

#input_label{
    margin-bottom: 12px;
}