#map {
    height: 45vh;
    
    }

.container-middle{
    display: flex;
}

section.hero{
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.search_bar{
    padding-top: 60px;
    padding-left: 20px;
    width: 250px;
}

#location{
    width:160px;
}

#input_label{
    margin-bottom: 12px;
}